<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acquisite</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/46826c2520.js" crossorigin="anonymous"></script>
  </head>

  <body>
    {% if user %}    
    <nav class="navbar" role="navigation"  aria-label="main navigation" style="background-color:#2D3A57;">
    {% else %}
    <nav class="navbar is-white" role="navigation"  aria-label="main navigation">
    {% endif %}  
      <div class="navbar-brand ">
        {% if user %}
        <a class="navbar-item" href="/home">
          <img src="{{ url_for('static', filename='logo.png') }}" width="95" height="31">
        </a>
        {% else %}
        <a class="navbar-item" href="/index">
          <img src="{{ url_for('static', filename='logo.png') }}" width="95" height="31">
        </a>
        {% endif %}
      </div>

      <div class="navbar-menu is-primary" style="align-items:stretch; display:flex;flex-grow:1;">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
  
              {% if user %}
              <a class="button is-text mr-4" href={{ url_for('profile') }} style="background-color:#2D3A57;color:white;">Account</a>
                {% if user.account_type == "investor" %}
                <a class="button is-link is-outlined" href={{ url_for('logout') }}>Logout</a>
                {% elif user.account_type == "owner" %}
                <a class="button is-text mr-4" href={{ url_for('create') }} style="background-color:#2D3A57;color:white;">Create Business</a>
                <a class="button is-outlined" href={{ url_for('logout') }}>Logout</a>
                {% endif %}         
              {% else %}
              <a class="button is-link is-outlined" href="/login">Login</a>
              {% endif %}            
            </div>
          </div>
        </div>
      </div>

      
    </nav>


    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <article class="message is-{{ category }}">
            <div class="message-body">
              {{ message }}
            </div>
          </article>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>