<!DOCTYPE html>
<html style="background-color:#f0f0f0;">
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acquisite</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/46826c2520.js" crossorigin="anonymous"></script>
  </head>

  <body>
    {% if user %}    
    <nav class="level" role="navigation"  aria-label="main navigation" style="background-color:#2D3A57;">
    {% else %}
    <nav class="level is-white" role="navigation"  aria-label="main navigation">
    {% endif %}  
      <div class="navbar-brand ">
        {% if user %}
        <a class="navbar-item" href="/home">
          <img src="{{ url_for('static', filename='logo.png') }}">
        </a>
        {% else %}
        <a class="navbar-item" href="/index">
          <img src="{{ url_for('static', filename='logo.png') }}">
        </a>
        {% endif %}
      </div>

      <div class="level-right">
          <div class="level-item">
            <div class="buttons">
  
              {% if user %}
              <a class="button is-text mr-4" href={{ url_for('profile') }} style="background-color:#2D3A57;color:white;">Profile</a>
              {% if user.account_type == "owner" %}
                <a class="button is-text mr-4" href={{ url_for('create') }} style="background-color:#2D3A57;color:white;">Create Business</a>
              {% endif %}     
              <a class="button is-white is-outlined mr-4" href={{ url_for('logout') }}>Logout</a>    
              {% else %}
              <a class="button is-link is-outlined mr-4" href="/login">Login</a>
              {% endif %}
            </div>
          </div>
      </div>

      
    </nav>


    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="columns is-centered">
            <div class="column is-6">
              <article class="message is-{{ category }}">
                <div class="message-body">
                  {{ message }}
                </div>
              </article>
            </div>
          </div>          
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>