<!DOCTYPE html>
<html style="background-color:#E7EFFF;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acquisite</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/46826c2520.js" crossorigin="anonymous"></script>
  </head>


  <body>
    <main>
        <div class="columns is-centered mt-5">
            <div class="column is-2">
                <!-- <div class="box is-size-4 has-text-centered">
                    <strong>Form</strong>
                </div> -->
              <a href="/home">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
              </a>
            </div>
        </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}            
            {% for category, message in messages %}
                <div class="columns is-centered">
                    <div class="column is-4">
                        <article class="message is-{{ category }}">
                            <div class="message-body">
                                {{ message }}
                            </div>
                        </article>
                    </div>  
                </div>
            {% endfor %}            
        {% endif %}
      {% endwith %}      

      <div class="columns is-centered">
        {% block content %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>