{% extends "base.html" %}

{% block content %}

{% if user %}
<meta http-equiv="Refresh" content="0; url='/home'" />
{% endif %}

<section class="hero">
    <div class="hero-body" style="background-color: #9fbdff">
        <h1 class="title" style="color:#ffffff">
            <i>
                Invest with confidence.
            </i>
        </h1>
    </div>
</section>


<div class="columns is-centered">
    <div class="column is-10">
        <div class="columns is-left mt-6 is-4" style="background-color:#9fbdff; border-radius: 15px;">
            <div class="column is-5 is-3-desktop my-6 ml-6">
                <div class="box">
                    <div class="block">
                        <h2 class="title is-2">Connect with local businesses</h2>
                    </div>
                    <div class="block">
                        <h5 class="subtitle is-5 mt-2 mb-5">Manage and invest in a local business</h5>
                    </div>
                    <div class="block mt-6">
                        <a class="button is-fullwidth is-link " style="background-color:#82a9ff" href="/register">Sign Up to Invest</a>
                    </div>
                </div>         
                       
            </div>
                
        </div>
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-10">
        <div class="columns is-left mt-6 is-4" style="background-color:#9fbdff; border-radius: 15px;">
            <div class="column is-one-third my-6 ml-6">
                <div class="box">
                        <div class="block is-3-desktop">
                            <h2 class="title is-2">Exchange your local business</h2>
                        </div>
                        <div class="block">
                            <h5 class="subtitle is-5 mt-2 mb-5">Watch your local business grow and thrive</h5>
                        </div>
                        <div class="block mt-6">
                            <a class="button is-fullwidth is-link " style="background-color: #9fbdff" href="/register">Create a Business Page</a>
                        </div>
                </div>                
            </div>
        </div>
    </div>
</div>

{% endblock %}