<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Acquisite</title>
    
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/home">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasic" class="navbar-menu">
          <div class="navbar-start ">
            <a class="navbar-item">
                Category
            </a>
      
            <a class="navbar-item">
                Category
            </a>
            <a class="navbar-item">
                Category
            </a>
            
        </div>
      
        <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-link is-outlined">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
    </nav>
  </head>
  <body>    
    <section class="section is-large is-primary">
        <div class="columns">
            <div class="column is-12 is-offset-0" style="background-color:#2D3A57; padding-top:40%;">
                <h1>Acquisite</h1>
            </div>
        </div>
    </section>
  </body>
</html>


<!-- <div class="columns">
    <div class="column"> 
        <h1>Acquisite</h1>
    </div>
    <div class="column"> 
        <div class="columns">
            <div class="column">
                <a>Category</a>
            </div>
            <div class="column">
                <a>Category</a>
            </div>
            <div class="column">
                <a>Category</a>
            </div>
        </div>
    </div>
    <div class="column" style="text-align:center;">
        <a class="button is-link is-outlined is-vcentered" href="/login">Log In</a>
    </div>
</div> -->