{% extends "base.html" %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-8">
            <div class="box">
                <h4 class="title is-4 mb-5">Welcome, {{ user.first_name }}</h4>
                

                <div class="box">
                    <center><h5 class="title is-5">Registered Businesses</h5></center>
                    <table class="table is-hoverable is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Company Name</th>
                                <th>Industry</th>
                                <th>Size</th>
                                <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for b in businesses %}
                                <tr>
                                    <th>{{ loop.index }}</th>
                                    <th><a href="/business/{{ b.id | safe }}"><u>{{ b.name }}</u></a></th>
                                    <td>{{ b.industry[0]|upper }}{{ b.industry[1:] }}</td>
                                    <td>{{ b.size }}</td>
                                    <td>{{ b.owner.first_name }} {{b.owner.last_name }}</td>
                                </tr>
                            {% endfor %}  
                        </tbody>
                    </table>
                </div>          
            </div>
        </div>
    </div>
{% endblock %}

<!-- 
{% for b in businesses %}
    <div class="box">
        
        <a href="/business/{{ b.id | safe }}">{{ b.name }}</a>
        Owned by: <strong> {{ b.owner.first_name }} {{b.owner.last_name }}</strong>
    </div>                
{% endfor %}   -->