{% extends "base.html" %}

{% block content %}
    <div class="column is-centered">
        <div class="box">
            <h4 class="title is-4 mb-5">Welcome, {{ user.first_name }}</h4>
            
            <h4 class="subtitle is-4">Currently Owned Businesses: </h4>
            {% for b in user.businesses %}
                <div class="box">
                    <a href="/business/{{ b.id | safe }}">{{ b.name }}</a>
                </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}