{% extends "base.html" %}

{% block content %}
<div class="columns is-centered">
    <div class="columns is-8-desktop is-10-tablet mt-6">
        <!-- left side -->
        <div class="column is-one-third is-left">
            <figure class="image is-128x128">
                {% if user.avatar %}
                <img class="is-rounded" src="../static/uploads/{{ user.avatar }}">
                {% else %}
                <img class="is-rounded" src="../static/stock/pfp/default_pfp.png">
                {% endif %}
            </figure>
            <div class="title">
                <p class="is-1">
                    Profile Name
                </p>
            </div>
            <div class="subtitle">
                <p>
                    Business Investor
                </p>
            </div>
        </div>

        <!-- right side -->
        <div class="column is-two-thirds">
            <div class="box">
            
                <h2 class="title is-2">User Profile</h2> 
               <!-- <h5 class="subtitle mt-2 h5">Account Type: Business {{ user.account_type[0]|upper }}{{ user.account_type[1:] }}</h5> -->
                <form method="post">
                    <div class="field mt-3">
                        <label class="label">First Name</label>
                        <p class="control has-icons-left">
                            <input class="input is-medium" type="text" name="first_name" value={{ user.first_name }} required/>
                            <span class="icon is-medium is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                        </p>
                    </div>
        
                    <div class="field">
                        <label class="label">Last Name</label>
                        <div class="control has-icons-left">
                            <input class="input is-medium" type="text" name="last_name" value={{ user.last_name }} required/>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-address-card"></i>
                            </span>
                        </div>
                    </div>
        
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left">
                            <input class="input is-medium" type="email" name="email" value={{ user.email }} required/>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
        
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left">
                            <input class="input is-medium" type="password" name="password" value={{ user.password }} required/>
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    
                    <div class="control">
                        <button class="button is-link" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}