{% extends "base.html" %}

{% block content %}
Register
<form method="post">
    <input type="text" name="username" placeholder="username" required>
    <input type="text" name="email" placeholder="email" required>
    <input type="password" name="password" placeholder="password" required>
    
    <select name="account_type" id="account_type">
        <option value="investor">investor</option>
        <option value="business_owner">business_owner</option>
    </select>

    <input type="submit" value="Register now!">
</form>
{% endblock %}