{% extends "form.html" %}

{% block content %}
    <div class="column is-4-desktop is-6-tablet">
        <div class="box">
            <h2 class="title is-2">Create an Account</h2> 
            <span>Have an account? <a href="/login">Login</a></span>
            <form method="post">

                <div class="field mt-5">
                    <p class="control has-icons-left">
                        <input class="input" name="first_name" type="text" placeholder="First Name" required>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-user"></i
                        </span>
                    </p>
                </div>

                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" name="last_name" type="text" placeholder="Last Name" required>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-address-card"></i>
                        </span>
                    </p>
                </div>

                <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="email" placeholder="Email" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </p>
                </div>

                <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="password" placeholder="Password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="account_type" value="investor">
                            Investor
                        </label>
                        <label class="radio">
                            <input type="radio" name="account_type" value="business_owner">
                            Business Owner
                        </label>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-link">Register</button>
                </div>

                
                <!-- <input type="text" name="username" placeholder="username" required>
                <input type="text" name="email" placeholder="email" required>
                <input type="password" name="password" placeholder="password" required>
                
                <select name="account_type" id="account_type">
                    <option value="investor">investor</option>
                    <option value="business_owner">business_owner</option>
                </select>
            
                <input type="submit" value="Register now!"> -->
            </form>
        </div>
    </div>


{% endblock %}